@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

@mixin appearanceNone {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}



@mixin declareVariables {
  --card-width: 0;
  --card-height: 0;
  --card-down-info-height: 0;
  --card-margin: 0;
  --horizontal-padding: 0;
}