@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

@mixin appearanceNone {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
