@import 'src/sass/variables/sizes';
@import 'src/sass/variables/colors';

$animation-timing: 0.2s;

.container {
  position: relative;
  width: $card-width;
  height: $card-height;

  cursor: pointer;
  flex-shrink: 0;

  .hidden {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transition: 1s all, 0s opacity;

    .img {
      width: 100%;
    }

    border: 1px solid $border;
  }

  .hover {
    animation: hover-in $animation-timing linear forwards;
    $height: calc(#{$card-height * 1.15} - #{$card-down-info-height} / 2);
    transform: translate(calc(-50% + #{$card-width} / 2), calc(-50% + #{$height} / 2));

    .info {
      animation: info-in $animation-timing linear forwards;
    }

    .img {
      height: calc(#{$card-height * 1.15});
    }
  }

  &:not(:last-child) {
    margin-right: $card-margin;
  }

  .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
  }

  .img {
    width: $card-width;
    height: $card-height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .info {
    flex-direction: column;
    background: $info-background;
    font-size: 16px;

    height: 0;
    padding: 0;
    overflow: hidden;

    .innerInfo {
      display: flex;
      flex-direction: row;
    }

    .coincidence {
      display: inline-block;
      color: $green-text;
      font-weight: 700;
      margin-right: 12px;
    }

    .icon {
      width: 48px;
      height: 48px;
      border: 1px solid $border;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      svg {
        width: 24px;
        height: 24px;
        fill: rgba(white, 0.5);
      }

      &:hover {
        border: 1px solid white;

        svg {
          fill: white;
        }
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

@keyframes hover-in {
  0% {
    width: $card-width;
    height: $card-height;
  }
  100% {
    width: calc(#{$card-width} * 1.15);
    height: calc(#{$card-height * 1.15} + #{$card-down-info-height});
  }
}

@keyframes info-in {
  to {
    display: flex;
    height: $card-down-info-height;
    padding: 16px;
  }
}