@import 'src/sass/variables/sizes';

.container {
  position: relative;
  width: $card-width;
  height: $card-height;
  background: black;

  cursor: pointer;
  flex-shrink: 0;

  .hidden {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: auto;
    background: black;
    transition: opacity 0s;
    transform: translate(calc(-50% + #{$card-width} / 2), -$card-height);
  }

  .hover {
    transform: translate(calc(-50% + #{$card-width} / 2), calc(-50% + #{$card-height} / 2));

    .img {
      width: calc(#{$card-width} * 1.15);
      height: calc(#{$card-height} * 1.15);
    }
  }

  &:not(:last-child) {
    margin-right: var(--card-margin);
  }

  .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
  }

  .img, .placeholder {
    width: $card-width;
    height: $card-height;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    background: #181818;
    padding: 16px;
    font-size: 16px;

    height: $card-down-info-height;

    .innerInfo {
      display: flex;
      flex-direction: row;
    }
    .coincidence {
      display: inline-block;
      color: #46D369;
      font-weight: 700;
      margin-right: 12px;
    }

    .icon {
      width: 48px;
      height: 48px;
      border: 1px solid rgba(white, 0.5);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      svg {
        width: 24px;
        height: 24px;
        fill: rgba(white, 0.5);
      }
      &:hover {
        border: 1px solid white;
        svg {
          fill: white;
        }
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}