@import 'src/sass/utils/mixins';
@import 'src/sass/variables/sizes';

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 80vw;
  min-height: calc(100vh - #{$header-height} - #{$container-padding});
  padding: $container-padding 0;
  margin: 0 auto;

  opacity: 0;
  @include hideScrollbar();
}