@import 'src/sass/variables/sizes';


.container {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0 $horizontal-padding;

  overflow: hidden;

  .backArrow, .forwardsArrow {
    position: absolute;
    top: 50%;
    height: $card-height;
    width: 50px;

    z-index: 1;
    transform: translateY(-50%);
    background: rgba(20, 20, 20, .1);

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background: rgba(20, 20, 20, .5);

      svg {
        fill: white;
      }
    }
  }

  .backArrow {
    left: 0;

    svg {
      transform: rotate(180deg);
    }

    &:hover {
      svg {
        transform: scale(1.4) rotate(180deg);
      }
    }
  }

  .forwardsArrow {
    right: 0;

    &:hover {
      svg {
        transform: scale(1.4);
      }
    }
  }
}
